/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width:6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    border-radius:2px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius:2px;
    background: rgba(0, 0, 0, 0.1);
}
/* 指示应用滚动条的某个页面容器(元素)是否当前被激活*/
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.4);
}